<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IPictureService">
                    <binaryMessageEncoding>
                        <readerQuotas maxArrayLength="65536" />
                    </binaryMessageEncoding>
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2530/PictureService" binding="customBinding"
                bindingConfiguration="CustomBinding_IPictureService" contract="PictureServiceReference.IPictureService"
                name="CustomBinding_IPictureService" />
        </client>
    </system.serviceModel>
</configuration>
